.srg-bg-primary {
    background-color: #02308C
}

.srg-bg-secondary {
    background: #d9d9d9
}


.srg-bg-success {
    background: #004000;
}

.srg-bg-danger {
    background: #8B0000
}

.srg-color-primary {
    color: #02308C
}

.srg-btn-primary {
    background-color: #02308C;
    border: 1px solid #02308C;
    color: #ffffff;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
    text-align: center
}

.srg-btn-primary:hover {
    border: 1px solid #02308C;
    background: white;
    color: #02308C

}

.srg-btn-outline-primary {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #02308C;
    padding: 8px 16px 8px 16px;
    border-radius: 12px;
    text-decoration: none;
}

.srg-btn-outline-primary:hover {
    text-decoration: underline;
}



.sidebar-heading {
    color: #d9d9d9;
}

.nav-link {
    color: #ffffff;
}

.srg-border {
    border: 1px solid #a9a9a9;
    border-radius: 12px;
}

.srg-border-bottom {
    border-bottom: 1px solid #a9a9a9;
}


.srg-danger-button {
    background: #8B0000;
    border: 1px solid #8B0000;
    color: white;
    padding:8px 10px 8px 10px;
    border-radius: 8px
}

.srg-danger-button:hover {
    background:#ffffff;
    border: 1px solid #8B0000;
    color: #8B0000;
}


.srg-btn-secondary-sm {
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: black;
    padding: 8px 4px 8px 10px;
    border-radius: 8px;
    text-decoration:none
}

.srg-btn-secondary-sm:hover {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    color: black;
    padding: 8px 6px 8px 10px;
    border-radius: 8px;
    text-decoration:none
}

.srg-transfer-button {
    background: #E38035;
    border: 1px solid #E38035;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    text-decoration:none
}

.srg-transfer-button:hover {
    background: #ffffff;
    border: 1px solid #E38035;
    color: #E38035;
    border-radius: 8px;
    text-decoration:none
}

.srg-edit-button {
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: #02308C;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    text-decoration:none
}

.srg-edit-button:hover {
    background: #02308C;
    border: 1px solid #02308C;
    color: #d9d9d9;
    border-radius: 8px;
    text-decoration:none
}
.srg-delete-button {
    background: #8B0000;
    border: 1px solid #8B0000;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration:none
}

.srg-delete-button:hover {
    background: white;
    border: 1px solid #8B0000;
    color: #8B0000;
    border-radius: 8px;
    text-decoration:none
}

/* TEXT & HEADERS */
.srg-header {
    color: #02308C;
}

.srg-text-secondary {
    color: #d9d9d9;
}

.srg-text-danger {
    color: #8B0000;
}

.sidebar .nav-link {
    color: #02308C;
}

/* SRG TABLE */
.srg-table, .srg-table-borderless {
    font-size: 10pt;
    width:100%;
}

#srg-table tr > td:last-child {
    background-color: #ccd9cc;
    color:black;
}

#srg-table tr > td:nth-last-child(2) {
    background-color: #ccd6e8;
    color:black;
}

#srg-table tr > td:nth-last-child(3) {
    background-color: #d9d9d9;
    color:black;
}

.srg-table th {
    padding: 10px;
    width: auto;
    border: 0.5pt solid #a9a9a9;
    cursor: pointer;
    background: #d9d9d9;
    color: #02308C;
}

.srg-table-borderless th {
    padding: 10px;
    width: auto;
    border-bottom: 0.5pt solid #a9a9a9;
    cursor: pointer;
    background: #d9d9d9;
    color: #02308C;
}

.srg-table-borderless td {
    padding: 8px;
    width: auto;
    border-bottom: 0.5pt solid #a9a9a9;

}

.srg-table td {
    padding: 8px;
    width: auto;
    border: 0.5pt solid #a9a9a9;

}

.srg-table tbody > tr:hover {
    background: #afc0df;

}

.srg-table-borderless tbody > tr:hover {
    background: #afc0df;

}

#isItLoaded {
    display:none;
}


