{% extends 'main/layoutV2.html' %}

{% block content %}

    {% load humanize %}
    <div class="container-fluid">
        <div class="row">
            <div class="card srg-border px-0 pb-2">
                <div class="card-header srg-bg-primary border-0" style="border-top-left-radius: 12px; border-top-right-radius: 12px">
                    <span class="fs-2 srg-text-secondary display-4">
                        Case Details - CN: {{ caseObj.caseNumber }}
                    </span>
                </div>
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header srg-bg-secondary">
                                    <span class="fs-4 fw-normal srg-header">General Information</span>
                                </div>
                                <div class="card-body p-2">
                                    <table class="srg-table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Representative:</th>
                                                <td>{{ caseObj.staffID }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Intermediary:</th>
                                                <td>{{ caseObj.fiID }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">PRRB Contact:</th>
                                                <td>{{ caseObj.prrbContactID }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Request Date:</th>
                                                <td>{{ caseObj.appealCreateDate|date:'m/d/Y' }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Acknowledged:</th>
                                                <td>
                                                    {% if caseObj.appealAckDate is None %}
                                                        <a data-bs-toggle="modal" data-bs-target="#ack_modal" href="" class="">Acknowledge</a>
                                                    {% else %}
                                                        {{ caseObj.appealAckDate|date:'m/d/Y' }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Case Status:</th>
                                                <td>
                                                    {{ caseObj.statusID }}
                                                    <a type="button" class="w-25 align-items-center" data-bs-toggle="modal" data-bs-target="#case_status_modal" href="">
                                                        <svg class="bi"><use xlink:href="#edit"></use></svg>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Case Name:</th>
                                                <td>
                                                    {% if caseObj.appealStructure == 'Individual'%}
                                                        {{ provInfo.providerID }} - {{ provInfo.get_prov_name|title }} ({{ provInfo.provMasterFiscalYear|date:'m/d/Y' }})
                                                    {% else %}
                                                        {{ caseObj.appealName }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header srg-bg-secondary">
                                    <ul class="nav nav-pills" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="due-tab" data-bs-toggle="tab" href="#due" role="tab" aria-controls="due" aria-selected="false">
                                                Due Dates
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="actions-tab" data-bs-toggle="tab" href="#actions" role="tab" aria-controls="provider" aria-selected="true">
                                                Actions
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="provider-tab" data-bs-toggle="tab" href="#provider" role="tab" aria-controls="provider" aria-selected="true">
                                                Provider Info
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="notes-tab" data-bs-toggle="tab" href="#notes" role="tab" aria-controls="notes" aria-selected="false">
                                                Case Notes
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active overflow-auto" id="due" role="tabpanel" aria-labelledby="due-tab" style="min-height:310px; max-height:315px;">
                                        <div class="card overflow-auto border-0" style="min-height:310px; max-height:315px;">
                                            <div class="card-body p-1 border-0">
                                                <table class="srg-table bg-white">
                                                    <thead class="srg-bg-primary">
                                                        <tr class="text-white">
                                                            <th class="text-center" scope="col">Action</th>
                                                            <th class="text-center" scope="col">Due Date</th>
                                                            <th class="text-center" scope="col">Progress</th>
                                                        </tr>
                                                    </thead>
                                                        {% for date in caseDueDates %}
                                                            <tr>
                                                                <td>{{ date.get_action_note }}</td>
                                                                <td class="text-center">{{ date.dueDate|date:'m/d/Y' }}</td>
                                                                {% if date.progress == 'Not Started' %}
                                                                    <td class="text-center bg-warning" style="width: 175px;"><a class="text-dark" href="{% url 'update-due-progress' date.id %}"><i class="bi bi-circle"></i> {{ date.progress }}</a></td>
                                                                {% elif date.progress == 'In Progress' %}
                                                                    <td class="text-center srg-bg-secondary text-white" style="width: 175px;background: #d9d9d9"><a class="text-white" href="{% url 'update-due-progress' date.id %}"><i class="bi bi-circle-half"></i> {{ date.progress }}</a></td>
                                                                {% elif date.progress == 'Completed' %}
                                                                    <td class="text-center srg-bg-success text-white" style="width: 175px;background: #004000"><a class="text-white" href="{% url 'update-due-progress' date.id %}"><i class="bi bi-check-circle-fill"></i> {{ date.progress }}</a></td>
                                                                {% else %}
                                                                    <td class="text-center bg-info" style="width: 175px;"><a class="text-dark" href="{% url 'update-due-progress' date.id %}">{{ date.progress }}</a></td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                </table>
                                            </div>
                                            <div class="card-footer d-flex justify-content-end bg-transparent border-0">
                                                <a class="srg-btn-primary" href="{% url 'add-due' caseObj.caseNumber %}"> Review / Add Critical Due Dates</a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane fade overflow-auto" id="actions" role="tabpanel" aria-labelledby="actions-tab" style="min-height:310px; max-height:315px;">
                                        <div class="card overflow-auto border-0" style="min-height:310px; max-height:315px;">
                                            <div class="card-body border-0">
                                                <a type="button" class="m-2 srg-btn-primary w-25" data-bs-toggle="modal" data-bs-target="#schedule_g_modal" href="">Schedule G</a>
                                                <a type="button" class="m-2 srg-btn-primary w-25" data-bs-toggle="modal" data-bs-target="#case_status_modal" href="">Update Case Status</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade overflow-auto" id="provider" role="tabpanel" aria-labelledby="provider-tab" style="min-height:310px; max-height:315px;">
                                        <div class="card overflow-auto border-0" style="min-height:310px; max-height:315px;">
                                            <div class="card-body p-1 border-0">
                                                <table class="srg-table bg-white" style="font-size:11pt;">
                                                    <thead class="">
                                                        <tr class="srg-bg-primary text-white">
                                                            <th scope="col" class="text-center">Provider #</th>
                                                            <th scope="col" class="text-center">Provider Name</th>
                                                            <th scope="col" class="text-center">Parent</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% if caseObj.appealStructure == 'Individual'%}
                                                            <tr class="p-0">
                                                                <td class="text-center" style="width:100px;">{{ provInfo.providerID }}</td>
                                                                <td class="p-1">{{ provInfo.get_prov_name|title }}</td>
                                                                <td class="text-center pt-1">{{ provInfo.get_parent|title }}</td>
                                                            </tr>
                                                        {% else %}
                                                            {% for provider in provInfo %}
                                                                <tr class="p-0">
                                                                    <td class="text-center" style="width:100px;">{{ provider.providerID }}</td>
                                                                    <td class="p-1">{{ provider.get_prov_name|title }}</td>
                                                                    <td class="text-center pt-1">{{ provider.get_parent|title }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade overflow-auto" id="notes" role="tabpanel" aria-labelledby="notes-tab" style="min-height:310px; max-height:315px;">
                                        <div class="card overflow-auto border-0" style="min-height:310px; max-height:315px;">
                                            <div class="card-body p-1 border-0">
                                                <form method="POST">
                                                    {% csrf_token %}
                                                    <textarea class="form-control bg-white text-dark" id="save_notes_button" name="save_notes_button" style="min-height: 250px;max-height: 250px">{{ caseObj.appealNotes }}</textarea>
                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <input type="submit" class="srg-btn-primary mt-2 px-5" value="Save" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center mt-4">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header srg-bg-secondary fs-4 srg-header d-flex align-items-center">
                                    {% if caseObj.appealStructure == 'Individual' %}
                                        Case Issues <a class="ms-2" data-toggle="tooltip" data-placement="bottom" title="Add Issue" href="{% url 'add-issue' caseObj.caseNumber %}">
                                        <i class="bi bi-plus-square"></i></a>
                                    {% else %}
                                        Group Providers
                                        <a class="ms-2" data-toggle="tooltip" data-placement="bottom" title="Add Provider" href="{% url 'add-issue' caseObj.caseNumber %}">
                                            <i class="bi bi-plus-square"></i>
                                        </a>
                                    {% endif %}
                                </div>

                                <div class="card-body p-2">
                                    <table class="srg-table">
                                        <thead class="text-center text-light fw-light srg-bg-primary">
                                            <tr>
                                                <th scope="col">Provider</th>
                                                <th scope="col">Year</th>
                                                <th scope="col">Deter Date</th>
                                                <th scope="col">Req. Date</th>
                                                <th scope="col">Issue Name</th>
                                                <th scope="col">Adjustments</th>
                                                <th scope="col">Add?</th>
                                                <th scope="col">Impact</th>
                                                <th scope="col">To</th>
                                                <th scope="col">T/A Date</th>
                                                <th scope="col">From</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                            {% for issue in caseIssues %}
                                                <tr class="{% if issue.provMasterIsActive is False %} fst-italic text-muted {% else %}{% endif %}" style="font-size:14px">
                                                    <td class="text-center" style="width:85px;">{{ issue.providerID }}</td>
                                                    <td class="text-center" style="width:65px;">{{ issue.provMasterFiscalYear|date:'Y' }}</td>
                                                    <td class="text-center" style="width:100px;">{{ issue.provMasterDeterminationDate|date:'m/d/Y' }}</td>
                                                    <td class="text-center" style="width:100px;">
                                                        {% if caseObj.appealStructure == 'Individual'%}
                                                            {% if issue.provMasterWasAdded is True %}
                                                                {{ issue.provMasterDateStamp|date:'m/d/Y'}}
                                                            {% else %}
                                                                {{ caseObj.appealCreateDate|date:'m/d/Y' }}
                                                            {% endif %}
                                                        {% else %}
                                                            {% if issue.provMasterWasAdded is True %}
                                                                {{ issue.provMasterTransferDate|date:'m/d/Y' }}
                                                            {% else %}
                                                                {{ issue.get_hrq_date|date:'m/d/Y' }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td style="min-width: 200px">{{ issue.issueID }}</td>
                                                    <td class="text-center px-2">{{ issue.provMasterAuditAdjs }}</td>
                                                    {% if issue.provMasterWasAdded == 1 %}
                                                        <td class="text-center px-2"><i class="bi bi-check-square"></i></td>
                                                    {% else %}
                                                        <td class="text-center px-2"></td>
                                                    {% endif %}
                                                    <td class="text-left px-2" style="width:100px">{{ issue.provMasterImpact|intcomma }}</td>
                                                    {% if issue.provMasterToCase is None or issue.provMasterToCase == 'NULL' %}
                                                        <td style="min-width:85px;"></td>
                                                    {% else %}
                                                        <td class="text-center" style="min-width:85px;">
                                                            <a href="{% url 'appeal-details' issue.provMasterToCase %}">
                                                                {{ issue.provMasterToCase }}
                                                            </a>
                                                        </td>
                                                    {% endif %}

                                                    {% if issue.provMasterTransferDate is None %}
                                                            <td style="width:100px;"></td>
                                                    {% else %}
                                                        <td class="text-center" style="width:100px;">
                                                            {{ issue.provMasterTransferDate|date:'m/d/Y' }}
                                                        </td>

                                                    {% endif %}

                                                    {% if issue.provMasterWasAdded is True %}
                                                        <td class="text-center" style="width:85px">
                                                            DA
                                                        </td>
                                                    {% elif issue.provMasterFromCase is None or issue.provMasterFromCase == 'NULL' %}
                                                        <td class="text-center" style="width:85px;"></td>
                                                    {% else %}
                                                        <td class="text-center" style="width:85px;">
                                                            <a href="{% url 'appeal-details' issue.provMasterFromCase %}">
                                                                {{ issue.provMasterFromCase }}
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                    {% if issue.provMasterIsActive is False %}
                                                        <td class="text-center" style="min-width:125px;">
                                                            Inactive
                                                        </td>
                                                    {% else %}
                                                        <td class="d-flex justify-content-evenly" style="min-width:135px;">
                                                            <a type="button" class="srg-transfer-button d-flex align-items-center" href="{% url 'transfer-issue' issue.provMasterID %}">
                                                                <svg class="bi"><use xlink:href="#transfer"></use></svg>
                                                            </a>
                                                            <a type="button" class="srg-edit-button d-flex align-items-center" href="{% url 'edit-case-issue' issue.provMasterID %}">
                                                                <svg class="bi"><use xlink:href="#edit"></use></svg>
                                                            </a>
                                                            <a type="button" class="srg-delete-button d-flex align-items-center" href="{% url 'withdraw-from-case' issue.provMasterID %}">
                                                                <svg class="bi"><use xlink:href="#trash"></use></svg>
                                                            </a>
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PREVIOUS CODE -->

        <div class="modal" id="ack_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Acknowledge Case</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body input-group date" id="datetimepicker1" data-target-input="nearest">
                        <form class="" action="" method="post">
                            {% csrf_token %}
                            {% for hidden_field in ack_form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}

                            {% for field in ack_form.visible_fields %}
                                    <ul class="list-group p-0">
                                        <li class="list-group-item p-0">
                                            <ul class="list-group list-group-horizontal p-0">
                                                <li class="list-group-item p-0 pt-3 px-3 w-50">{{ field.label_tag }}</li>
                                                <li class="list-group-item ">{{ field }}</li>
                                            </ul>
                                        </li>
                                    </ul>
                            {% endfor %}

                            <input type="submit" name="ack_button" value="Acknowledge" class="btn btn-primary mt-3"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="case_status_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header srg-bg-primary text-white">
                        <h5 class="modal-title">Update Case Status</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body input-group" id="" data-target-input="">
                        <form class="" action="" method="post">
                            {% csrf_token %}
                            {% for hidden_field in update_status_form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}

                            {% for field in update_status_form.visible_fields %}
                                <label class="form-control border-0">{{ field.label_tag }}</label>
                                <span class="form-control border-0">{{ field }}</span>
                            {% endfor %}

                            <input type="submit" name="case_status_button" value="Update Case Status" class="srg-btn-primary mt-3"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="schedule_g_modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header srg-bg-primary text-white">
                        <h5 class="modal-title">Generate Form G Docs</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body" id="" data-target-input="">
                        <table class="table table-bordered table-sm table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-center" scope="col">Document</th>
                                    <th class="text-center" scope="col">Action</th>
                                </tr>
                            </thead>
                                <tr>
                                    <td class="text-center">Cover Letter</td>
                                    <td class="text-center">
                                        <a class="srg-color-primary" href="{% url 'form-g-cover-letter' caseObj.caseNumber %}">
                                            Generate
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">Issue Statement</td>
                                    <td class="text-center">
                                        <a class="srg-color-primary" href="{% url 'form-g-issue-state' caseObj.caseNumber %}">
                                            Generate
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">Table of Contents</td>
                                    <td class="text-center">
                                        <a class="srg-color-primary" href="{% url 'form-g-toc' caseObj.caseNumber %}">
                                            Generate
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">Exhibits</td>
                                    <td class="text-center">
                                        <a class="srg-color-primary" href="{% url 'form-g-exhibits' caseObj.caseNumber %}">
                                            Generate
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">Schedule G</td>
                                    <td class="text-center">
                                        <a class="srg-color-primary" href="{% url 'form-g' caseObj.caseNumber %}">
                                            Generate
                                        </a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}