{% extends "main/layoutV2.html" %}

{% block content %}
{% load humanize %}

<div class="container-fluid">
    <div class="row mb-0 d-flex justify-content-center">
        <div class="col-xxl-10 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header srg-bg-primary d-flex justify-content-between">
                    <span class="fs-3 display-6 srg-text-secondary">MAC Master</span>
                    <a class="fs-6 d-flex srg-text-secondary align-items-center gap-1" href="{% url 'new-mac' %}"><svg class="bi"><use xlink:href="#plus-fill"></use></svg>New MAC</a>
                </div>
                <div class="class-body px-4">
                    {% regroup all_fis by fiName as all_macs_list %}
                    {% for fiName in all_macs_list %}
                        <div class="card my-4">
                            <div class="card-header srg-bg-secondary srg-header">
                                <span class="fs-4 display-6">{{ fiName.grouper }}</span>
                            </div>
                            <div class="card-body px-4">
                                <div class="row">
                                    <table class="srg-table" style="font-size:12pt">
                                        <tr>
                                            <th>JD</th>
                                            <th>Name</th>
                                            <th>Title</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                        </tr>
                                        {% for mac in fiName.list %}
                                            <tr>
                                                <td>{{ mac.fiJurisdiction }}</td>
                                                <td>{{ mac.fiFirstName }} {{ mac.fiLastName }}</td>
                                                <td>{{ mac.fiTitle }}</td>
                                                <td>{{ mac.fiEmail }}</td>
                                                <td>
                                                    {{ mac.fiStreet }},
                                                    {{ mac.fiStreetTwo }},
                                                    {{ mac.fiCity }}, {{ mac.stateID }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
