{% extends 'main/layoutV2.html' %}

{% block content %}
    {% load humanize %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-header srg-bg-primary srg-text-secondary">
                        <span class="display-6 fs-3">Filter Form</span>
                    </div>
                    <div class="card-body">
                        <form method="get">
                        {% for field in filter.form %}
                            <div class="fieldWrapper mb-3">
                                <p>{{ field.label_tag }} <br> {{ field }}
                                {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="card-footer bg-transparent d-flex justify-content-start align-items-center gap-3 px-0 py-2 m-0">
                            <button class="srg-btn-primary" type="submit"><i class="bi bi-search"></i> Search</button>
                            <!--<button class="srg-btn-secondary" name='extract_button' type="submit"><i class="bi bi-download"></i> Extract</button>-->
                            <a class="srg-link" href="{% url 'group-report' %}">Clear Form</a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card">
                    <div class="card-header srg-bg-primary srg-text-secondary">
                        <span class="display-6 fs-3">Results</span>
                    </div>
                    <div class="card-body">
                        <table class="srg-table" style="font-size:11pt">
                <thead class="text-center text-light">
                    <tr class="srg-bg-primary" >
                        <th>Case #</th>
                        <th>Case Type</th>
                        <th>Provider</th>
                        <th>Year</th>
                        <th>Issue</th>
                        <th>Status</th>
                        <th>Case Name</th>
                    </tr>
                </thead>
                {% for case in filter.qs %}
                    <tr>
                        <td class="text-center"><a href="{% url 'appeal-details' case.caseNumber %}">{{ case.caseNumber }}</a></td>
                        <td>{{ case.caseNumber__appealStructure }}</td>
                        <td>{{ case.providerID }} - {{ case.providerID__providerName|title }}</td>
                        <td>{{ case.provMasterFiscalYear|date:'m/d/Y' }}</td>
                        <td>{{ case.issueID__issueName }}</td>
                        <td>{{ case.caseNumber__statusID__statusName }}</td>
                        <td>{{ case.caseNumber__appealName }}</td>
                    </tr>
                {% endfor %}
            </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}