{% extends 'main/layout.html' %}

{% block content %}
    <style>
    .card {
        background-color: #5294e2;
    }
    </style>


    <div class="container mt-2">
        <div class="row mt-2">
                <div class="card shadow bg-light">
                    <h5 class="mt-2 pt-1" style="color:#383c4a">Upcoming Appeal Deadlines:</h5>
                    <table class="table table-hover table-bordered mt-3">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="text-center">Case</th>
                                <th scope="col" class="text-center">Structure</th>
                                <th scope="col" class="text-center">Case Name</th>
                                <th scope="col" class="text-center">Item Due</th>
                                <th scope="col" class="text-center">Due Date</th>
                                <th scope="col" class="text-center">Progress</th>
                            </tr>
                        </thead>
                            {% for date in allDueDates %}
                            <tr>
                                <td class="text-center"><a href="{% url 'appeal-details' date.caseNumber %}">{{ date.caseNumber }}</a></td>
                                <td class="text-center">{{ date.get_case_structure }}</td>
                                {% if date.get_case_structure == 'Individual' %}
                                    <td class="">{{ date.get_provider|title }}</td>
                                {% else %}
                                    <td class="">{{ date.get_appeal_name }}</td>
                                {% endif %}
                                <td class="">{{ date.get_action_note }}</td>
                                <td class="text-center">{{ date.dueDate|date:'m/d/Y'}}</td>
                                {% if date.progress == 'Not Started' %}
                                    <td class="text-center bg-warning" style="width: 150px;"><a class="text-dark" href=""><i class="far fa-circle"></i> {{ date.progress }}</a></td>
                                {% elif date.progress == 'In Progress' %}
                                    <td class="text-center bg-primary text-white" style="width: 150px;"><a class="text-white" href=""><i class="fas fa-spinner"></i> {{ date.progress }}</a></td>
                                {% elif date.progress == 'Completed' %}
                                    <td class="text-center bg-success text-white" style="width: 150px;"><a class="text-white" href=""><i class="far fa-check-circle"></i> {{ date.progress }}</a></td>
                                {% else %}
                                    <td class="text-center bg-info" style="width: 150px;"><a class="text-dark" href="{% url 'update-due-progress' date.id %}">{{ date.progress }}</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                    </table>
                </div>

                <div class="card shadow bg-light my-lg-5">
                    <h5 class="mt-2 pt-1" style="color:#383c4a">NPR Filing Deadlines:</h5>
                    <table class="table table-hover table-bordered mt-3">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="text-center">Provider #</th>
                                <th scope="col" class="text-center">Name</th>
                                <th scope="col" class="text-center">Fiscal Year</th>
                                <th scope="col" class="text-center">NPR Date</th>
                                <th scope="col" class="text-center">Due Date</th>
                            </tr>
                        </thead>
                            {% for npr in nprDueDates %}
                            <tr>
                                <td class="text-center"><a href="">{{ npr.providerID }}</a></td>
                                <td class="text-center">{{ npr.get_prov_name|title }}</td>
                                <td class="text-center">{{ npr.nprFY }}</td>
                                <td class="text-center">{{ npr.nprDate|date:'m/d/Y' }}</td>
                                <td class="text-center">{{ npr.calc_deadline|date:'m/d/Y' }}</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
        </div>
    </div>
{% endblock %}
