{% extends "main/layout.html" %}

{% block content %}
{% load humanize %}

<div class="container-fluid">
    <div class="row mt-5 mb-0">
        <h5 class="font-weight-bold text-uppercase ml-5 pt-1">
            Issue Master
            <a class="mx-1" data-toggle="tooltip" data-placement="bottom" title="New Issue" href="{% url 'new-issue' %}"><i class="bi bi-plus-square" style="font-size:24px;"></i></a>
        </h5>
    </div>
    <hr class="mt-0"/>
    <div class="row">
        <table class="table table-bordered">
            <tr class="table-header">
                <th scope="col" class="text-center">Issue #</th>
                <th scope="col" class="text-center">Issue Name:</th>
                <th scope="col" class="text-center">Issue Description:</th>
            </tr>
            {% for issue in all_issues %}
            <tr>
                <td class="text-center px-0" style="width:75px"><a href="">{{ issue.issueSRGID }}</a></td>
                <td style="width:350px">{{ issue.issueName }}</td>
                <td>{{ issue.issueShortDescription }}</td>
            </tr>
            {% endfor %}
        </table>
        {% for parent in all_parents %}

        {% endfor %}
    </div>
</div>


{% endblock %}
