{% extends "main/layout.html" %}

{% block content %}
{% load humanize %}

<div class="container-fluid">
    <div class="row mt-5 mb-0">
        <h4 class="font-weight-bold ml-5 pt-1">
            Issue Detail
            <a class="mx-1" data-toggle="tooltip" data-placement="bottom" title="Edit Issue" href="{% url 'edit-issue' issue.issueID %}"><i class="bi bi-pencil-square" style="font-size:24px;"></i></a>
        </h4>
    </div>
    <hr class="mt-0"/>
    <div class="row">
        <table class="table table-bordered">
            <tr class="table-header">
                <th scope="col" class="text-center">Issue #</th>
                <th scope="col" class="text-center">Issue Name:</th>
                <th scope="col" class="text-center">Issue Description:</th>
            </tr>
            <tr>
                <td class="text-center px-0" style="width:75px">
                    <a type="button" class="" href="">{{ issue.issueSRGID }}</a>
                </td>
                <td style="width:350px">{{ issue.issueName }}</td>
                <td>{{ issue.issueShortDescription }}</td>
            </tr>
        </table>
    </div>
    <div class="row mt-4">
        <div>
            <h4>Issue Long Description</h4>
            <hr class="mt-0"/>
            <p>
                {{ issue.issueLongDescription|linebreaksbr }}
            </p>
        </div>
    </div>
</div>


{% endblock %}
