<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" href="{% static 'site.css' %}">

    <meta charset="UTF-8">

    <style>
        .nav-link {
            color: aliceblue;
        }

    </style>
    <title>Strategic Appeal Master</title>
</head>
<body>
    <!--
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow d-print-none">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Strategic Reimbursement Group</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>
    </nav>
    -->

    <script>
        $(document).ready(function(){
            $("#sidebarCollapse").on('click', function(){
            $("#sidebar").toggleClass('active');
            });
        });
    </script>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="p-2 sidebar-sticky">
        <div class="sidebar-header border-bottom">
            <h3 class="text-light">
                {% if user.is_authenticated %}
                    Welcome, {{ user.firstName }} <br>
                    <span class="text-muted fs-6">{{ user.email }} <br>
                        <a class="text-light text-decoration-none" href="{% url 'signout' %}">Sign Out</a></span>
                {% else %}
                    Welcome, {{ user.firstName }} <br>
                    <span class="text-muted fs-6">{{ user.email }} <br>
                        <a class="text-light text-decoration-none" href="{% url 'signout' %}">Sign Out</a></span>
                {% endif %}
            </h3>
            <strong>{{ user.firstName.0 }}{{ user.lastName.0 }}</strong>
        </div>
        <div class="search-bar mt-2">
            <form method="POST" action="">
                {% csrf_token %}
                <input class="form-control" type="text" placeholder="Search Case" aria-label="Search" name="search">
            </form>
        </div>
        <ul class="list-unstyled components mt-4">
            <li class="active nav-item">
                <a href="{% url 'main' %}" class="nav-link">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'new-appeal' %}" class="nav-link">
                    New Appeal
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                    Reports <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                </a>
                <ul class="collapse list-unstyled submenu" id="pageSubmenu">
                    <li>
                        <a class="nav-link" href="{% url 'due-master' %}">Due Dates - By Date</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'due-master-two' %}">Due Dates - By Case</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'prov-appeal-details' %}">Provider Appeals</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#masterSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                    Master Tables <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                </a>
                <ul class="collapse list-unstyled submenu" id="masterSubmenu">
                    <li>
                        <a class="nav-link" href="{% url 'issue-master' %}">Issues</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'provider-master' %}">Providers</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'parent-master' %}">Parent</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'staff-master' %}">Staff</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'mac-master' %}">MAC</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'prrb-master' %}">PRRB</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#toolSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="nav-link">
                    Tools <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                </a>
                <ul class="collapse list-unstyled submenu" id="toolSubmenu">
                    <li>
                        <a class="nav-link" data-bs-toggle="modal" href="#add_npr_due_modal">Add NPR</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'new-provider' %}">New Provider</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'new-parent' %}">New parent</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="nav-footer">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 2 16 16">
                  <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </button>
        </div>
    </nav>
    <div class="col-md-10 ml-sm-auto col-lg-10 px-md-4 bg-light" style="margin-left:100px">
        {% block content %}

        {% endblock %}
    </div>
</div>
</body>
</html>