{% extends "main/layoutV2.html" %}

{% block content %}
{% load humanize %}

<div class="container-fluid">
    <div class="row mb-0">
        <div class="card p-0">
            <div class="card-header srg-bg-primary d-flex justify-content-between">
                <span class="fs-3 display-6 srg-text-secondary">
                    Parent Master
                </span>
                <a class="fs-6 d-flex srg-text-secondary align-items-center gap-1" href="{% url 'new-parent' %}">
                        <svg class="bi"><use xlink:href="#plus-fill"></use></svg>New Parent</a>
            </div>
            <div class="card-body">
                <div class="row d-flex justify-content-between">
                    {% for parent in all_parents %}
                        <div class="col-4 my-2">
                            <div class="card">
                                <div class="card-header srg-bg-secondary srg-header">
                                    <span class="fs-5 display-6">{{ parent.parentFullName }}</span>
                                </div>
                                <div class="card-body">
                                    <p class="srg-header fw-bold mb-0">Address:</p>
                                    <address>
                                        {{ parent.parentAddress }} <br/>
                                        {{ parent.parentCity }}, {{ parent.stateID }} {{ parent.parentZIP }}
                                    </address>
                                    <p class="srg-header fw-bold">Contacts:</p>
                                    <table class="srg-table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Title</th>
                                            <th>Email</th>
                                        </tr>
                                        {% for contact in parent.tblhospcontactmaster_set.all %}
                                            <tr>
                                                <td>{{ contact.hospContactFirstName }} {{ contact.hospContactLastName }}</td>
                                                <td>{{ contact.hospContactTitle }}</td>
                                                <td>{{ contact.hospContactEmail }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="card-footer d-flex justify-content-end py-2 bg-transparent gap-2">
                                    <a class="srg-btn-primary" data-toggle="tooltip" data-placement="top" title="Edit Parent" href="{% url 'update-parent' parent.parentID %}">
                                        Edit Parent
                                    </a>
                                    <a class="srg-btn-secondary" data-toggle="tooltip" data-placement="top" title="Edit Parent" href="{% url 'new-hosp-contact' parent.parentID %}">
                                        Add Contact
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
