{% extends "main/layout.html" %}

{% block content %}
{% load humanize %}
<div class="container-fluid mt-5" id="content">
    <h5 class="font-weight-bold text-uppercase pl-1 pt-1">Provider Appeals</h5>
    <hr class="mt-0"/>
    <div class="card py-2">
        <form method="get">
            {% csrf_token %}
                <div class="card px-5 border-0">
                    <h5>Filter</h5>
                    {{ filter.form.as_table }}
                <button type="submit" class="mt-2 btn btn-primary w-25" id="filter">Filter</button>
            </div>
        </form>
    </div>

     <div id="loading" class="text-center" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000; background-color:#404552; opacity:50%">
        <div class="card bg-transparent border-0 text-center" style="position:absolute;top:50%;left:50%">
             <div class="spinner-border text-light" style="width: 6rem; height: 6rem;"></div>
                <span class=""></span>
             </div>
        </div>
    </div>

    <div class="card mt-4">
        <table class="table table-bordered">
            <thead class="my-bg-dark text-center text-light" style="background-color: #404552">
                <tr>
                    <th scope="col">Case Number</th>
                    <th scope="col">Provider #</th>
                    <th scope="col">Case Structure</th>
                    <th scope="col">Fiscal Year</th>
                    <th scope="col">Deter. Type</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Impact</th>
                </tr>
            </thead>
            {% for item in filter.qs %}
                <tr>
                    <td class="text-center" style="width: 100px"><a href="{% url 'appeal-details' item.caseNumber %}">{{ item.caseNumber }}</a></td>
                    <td class="text-center" style="width: 100px">{{ item.providerID }}</td>
                    <td style="width: 100px">{{ item.get_appeal_structure }}</td>
                    <td class="text-center" style="width:100px">{{ item.provMasterFiscalYear|date:'m/d/Y' }}</td>
                    <td class="text-center" style="width:50px">{{ item.provMasterDeterminationType }}</td>
                    <td class="" style="">{{ item.issueID }}</td>
                    <td class="text-center" style="">${{ item.provMasterImpact|intcomma }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script type="text/javascript">
        function load() {
            document.getElementById("loading").style.display = "None"
        }
        window.onload = load;
    </script>

    <script type="text/javascript">
        function load() {
            document.getElementById("loading").style.display = ""
        }
        let myButton = document.getElementById("filter")
        myButton.onclick = load
    </script>



</div>


{% endblock %}
