{% extends "main/layout.html" %}

{% block content %}
{% load humanize %}

<div class="container-fluid">
    <div class="row mt-5 mb-0">
        <h5 class="font-weight-bold text-uppercase ml-5 pt-1">
            PRRB Contact Master
            <a class="mx-1" data-toggle="tooltip" data-placement="bottom" title="Add Contact" href="{% url 'new-prrb' %}"><i class="bi bi-plus-square" style="font-size:24px;"></i></a>
        </h5>
    </div>
    <hr class="mt-0"/>
    <div class="album row">
        {% for prrb in all_prrbs %}
            <div class="col-md-3">
                <div class="card p-3">
                    <div class="card-body">
                        {{ prrb.prrbContactFirstName }} {{ prrb.prrbContactLastName }}<br>
                        {{ prrb.prrbContactEmailAddress }} <br>
                        {{ prrb.prrbContactGenEmailAddress }} <br>
                        {{ prrb.prrbContactStreet }}<br>
                        {{ prrb.prrbContactStreetTwo }}<br>
                        {{ prrb.prrbContactCity }}, {{ prrb.stateID }}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>


{% endblock %}
