{% extends "main/layoutV2.html" %}

{% block content %}
{% load humanize %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header srg-bg-primary">
                    <span class="fs-3 display-6 srg-text-secondary">
                        Transfer Issue
                    </span>
                </div>
                <div class="card-body">
                    <table class="srg-table">
                        <tr>
                            <th scope="col">Provider</th>
                            {% if caseDeterType  == 'FR' %}
                                <th scope="col">FFY</th>
                            {% else %}
                                <th scope="col">FY</th>
                            {% endif %}
                            <th scope="col">Issue</th>
                            <th scope="col">Audit Adjustments</th>
                            <th scope="col">Amount</th>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 85px">{{ issue_trans.providerID }}</td>
                            <td class="text-center" style="width: 65px">{{ caseFiscalYear }}</td>
                            <td>{{ issue_trans.issueID}}</td>
                            <td>{{ issue_trans.provMasterAuditAdjs }}</td>
                            <td class="px-2 text-center">
                                ${{ issue_trans.provMasterImpact|intcomma }}
                            </td>
                        </tr>
                    </table>
                    <div class="row mt-4">
                        <div class="col-3">
                            <div class="card">
                                <div class="card-header srg-bg-secondary">
                                    <span class="fs-4 display-5 srg-header">
                                        Transfer Form
                                    </span>
                                </div>
                                <div class="card-body">
                                    <form class="" action="" method="post">
                                        {% csrf_token %}
                                        {% for hidden_field in form.hidden_fields %}
                                            {{ hidden_field }}
                                        {% endfor %}

                                        {% for field in form.visible_fields %}
                                            <div class="fieldWrapper mb-3">
                                                <p>{{ field.label_tag }} <br> {{ field }}
                                                {% if field.help_text %}
                                                <p class="help">{{ field.help_text|safe }}</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}

                                        <div class="card-footer bg-transparent d-flex justify-content-end pb-0 mb-0">
                                            <input type="submit" name="trans_button" value="Transfer Issue" class="srg-btn-primary"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="card">
                                <div class="card-header srg-bg-secondary">
                                    <span class="fs-4 display-5 srg-header">Possible Groups</span>
                                </div>
                                <div class="card-body">
                                    <table class="srg-table">
                                        <thead class="text-center">
                                            <tr>
                                                <th scope="col">Case #</th>
                                                <th scope="col">Case Name</th>
                                                <th scope="col">Structure</th>
                                            </tr>
                                        </thead>
                                        {% for group in poss_groups %}
                                            <tr>
                                                <td class="text-center" style="width: 80px">{{ group.caseNumber }}</td>
                                                <td>{{ group.appealName }}</td>
                                                <td class="text-center" style="width: 80px">{{ group.appealStructure }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
