{% extends "main/layoutV2.html" %}

{% block content %}
{% load humanize %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header srg-bg-primary">
                    <span class="fs-3 display-6 srg-text-secondary">
                        Confirm Withdraw Issue / Provider
                    </span>
                </div>
                <div class="card-body">
                    <table class="srg-table">
                        <tr>
                            <th scope="col">Case #</th>
                            <th scope="col">Provider</th>
                            {% if provMasterInstance.provMasterDeterminationType  == 'FR' %}
                                <th scope="col">FFY</th>
                            {% else %}
                                <th scope="col">FY</th>
                            {% endif %}
                            <th scope="col">Issue</th>
                            <th scope="col">Audit Adjustments</th>
                            <th scope="col">Amount</th>
                        </tr>
                        <tr>
                            <td class="text-center" style="width: 100px">{{ provMasterInstance.caseNumber }}</td>
                            <td class="text-center" style="width: 100px">{{ provMasterInstance.providerID }}</td>
                            <td class="text-center" style="width: 75px">{{ provMasterInstance.provMasterFiscalYear|date:'Y' }}</td>
                            <td>{{ provMasterInstance.issueID}}</td>
                            <td style="width:215px;">{{ provMasterInstance.provMasterAuditAdjs }}</td>
                            <td class="px-2 text-center">
                                ${{ provMasterInstance.provMasterImpact|intcomma }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-end">
                    <form class="" action="" method="post">
                        {% csrf_token %}
                        <input type="submit" name="withdraw" value="Withdraw" class="srg-btn-danger"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
