{% extends 'main/layoutV2.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-auto">
                <div class="card">
                    <div class="card-header srg-bg-primary">
                        <span class="fs-3 display-6 srg-text-secondary">
                            {{ formName }}
                        </span>
                    </div>
                    <div class="card-body">
                        <form method="post" class="">
                        {% csrf_token %}
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <label class="form-control border-0 pb-0">{{ field.label_tag }}</label>
                            <span class="form-control border-0 mt-0">{{ field }}</span>
                        {% endfor %}
                        <div class="card-footer d-flex justify-content-end bg-transparent">
                            <input type="submit" class="srg-btn-primary px-5" value="Submit" />
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}