{% extends 'main/layout.html' %}

{% block content %}

    <div class="container w-75 border shadow mt-lg-5">
    <h4 class="mt-4">{{ formName }}</h4>
    <div class="card my-4">
        <form method="post">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <label class="form-control border-0">{{ field.label_tag }}</label>
                <span class="form-control border-0">{{ field }}</span>

            {% endfor %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end my-2">
                <input type="submit" class="btn btn-primary w-25" value="Submit" />
            </div>
        </form>

    </div>


{% endblock %}