{% extends 'main/layoutV2.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row d-flex justify-content-center mt-2">
            <div class="col-xl-auto col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card shadow-0 mt-2 bg-transparent srg-border ">
                    <div class="card-header srg-bg-primary srg-text-secondary" style="border-top-left-radius: 12px; border-top-right-radius: 12px">
                        <span class="fs-3 display-6">{{ formName }}</span>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <form method="post" class="">
                            {% csrf_token %}
                            {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                <div class="mx-2 my-3 bg-transparent">
                                    <label class="form-control border-0 p-0 bg-transparent">{{ field.label_tag }}</label>
                                    <span class="form-control border-0 p-0 bg-transparent">{{ field }}</span>
                                </div>

                            {% endfor %}
                            <div class="card-footer bg-transparent d-flex justify-content-end">
                                <input type="submit" class="srg-btn-primary px-6" value="Save"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}