{% extends 'main/layout.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 srg-border">
                <div class="card border-0 shadow-0 mt-2 bg-transparent ">
                    <div class="text-white fw-normal fs-4 srg-bg-primary card-header" style="border-radius:12px;min-height:50px">
                        {{ formName }}
                    </div>
                    <form method="post" class="mt-2 bg-transparent">
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="mx-2 my-3 bg-transparent">
                                <label class="form-control border-0 p-0 bg-transparent">{{ field.label_tag }}</label>
                                <span class="form-control border-0 p-0 bg-transparent">{{ field }}</span>
                            </div>

                        {% endfor %}
                        <input type="submit" class="srg-btn-primary my-2 mx-2 px-4" value="Submit" />

                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}