{% extends "main/layoutV2.html" %}

{% block content %}
{% load humanize %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="card-header srg-bg-primary">
                <span class="fs-3 display-6 srg-text-secondary">Update NPR Due Date</span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header srg-bg-secondary">
                                <span class="srg-header fs-4 display-6">Update Status Form</span>
                            </div>
                            <div class="card-body">
                                <form class="" action="" method="post">
                                    {% csrf_token %}
                                    {% for hidden_field in form.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}

                                    {% for field in form.visible_fields %}
                                        <div class="fieldWrapper mb-3">
                                            <p>{{ field.label_tag }} <br> {{ field }}
                                            {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <div class="card-footer bg-transparent d-flex justify-content-end pe-0 pb-0 mb-0">
                                        <input type="submit" name="update_due_date_button" value="Update Status" class="srg-btn-primary"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-md-12 col-sm-12 col-12">
                        <table class="srg-table">
                            <thead class="">
                                <tr>
                                    <th scope="col" class="">Provider #</th>
                                    <th scope="col" class="">Name</th>
                                    <th scope="col" class="">Fiscal Year</th>
                                    <th scope="col" class="">NPR Date</th>
                                    <th scope="col" class="">Due Date</th>
                                    <th scope="col" class="">Status</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="">{{ NPRDate_obj.providerID }}</td>
                                <td class="">{{ NPRDate_obj.get_prov_name|title }}</td>
                                <td class="">{{ NPRDate_obj.nprFY }}</td>
                                <td class="">{{ NPRDate_obj.nprDate|date:'m/d/Y' }}</td>
                                <td class="">{{ NPRDate_obj.calc_deadline|date:'m/d/Y' }}</td>
                                <td class="">{{ NPRDate_obj.status}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
