{% extends "main/layout.html" %}

{% block content %}
{% load humanize %}
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <h5 class="font-weight-bold text-uppercase pl-1 pt-1">Update NPR Due Date</h5>
            <hr class="mt-0"/>
            <table class="table table-bordered">
                <thead class="text-center">
                    <tr>
                        <th scope="col" class="text-center">Provider #</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Fiscal Year</th>
                        <th scope="col" class="text-center">NPR Date</th>
                        <th scope="col" class="text-center">Due Date</th>
                        <th scope="col" class="text-center">Status</th>
                    </tr>
                </thead>
                <tr>
                    <td class="text-center">{{ NPRDate_obj.providerID }}</td>
                    <td class="text-center">{{ NPRDate_obj.get_prov_name|title }}</td>
                    <td class="text-center">{{ NPRDate_obj.nprFY }}</td>
                    <td class="text-center">{{ NPRDate_obj.nprDate|date:'m/d/Y' }}</td>
                    <td class="text-center">{{ NPRDate_obj.calc_deadline|date:'m/d/Y' }}</td>
                    <td class="text-center">{{ NPRDate_obj.status}}</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
            <hr class="mt-0"/>
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold px-2 pt-1">Update Status Form</h5>
                </div>
                <div class="card-body">
                    <form class="" action="" method="post">
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                                <ul class="list-group border-0 p-0">
                                    <li class="list-group-item p-0 px-2 border-0 form-control">{{ field.label_tag }}</li>
                                    <li class="list-group-item p-0 px-2 border-0 mt-1 form-control" onChange="form.submit()">{{ field }}</li>
                                </ul>
                        {% endfor %}

                        <input type="submit" name="update_due_date_button" value="Update Status" class="btn btn-primary mt-3 m-2"/>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
